.logo {
    height: 32px;
    margin: 16px;
    background: rgba(89, 152, 175, 0.3);
  }
  
  nz-header {
    background: #e3dcdc;
    padding: 0;
  }
  
  nz-content {
    margin: 0 16px;
  }
  
  nz-breadcrumb {
    margin: 16px 0;
  }
  
  .inner-content {
    padding: 24px;
    background: #aec1e5;
    min-height: 460px;
  }
  
  nz-footer {
    text-align: center;
  }
  
  [nz-form] {
    max-width: 600px;
  }
  
  .phone-select {
    width: 70px;
  }
  
  .register-are {
    margin-bottom: 8px;
  }
  
  